body{
    background-color: coral;
}

h2{
    color: #D4D4D2;
}h1{
    margin-block-start: 0em; 
    color: white;
}
.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    height: 2em;
    width: 250px;
}
textarea{
    width: 100%;
    margin-top: 2em;
    font-size: 20px;
    height: 100px;
    text-align: center;
}
.container{
    background-color: #202020;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin-top: 15%;
}

.area{
    display: flex;
    justify-content: center;
}

button{
    height: 3em;
    width: 100%;
    background-color: #FF9500;
    border: none;
    color: white;
    transition: 300ms;
}
button:hover{
    cursor: pointer;
    height: 3.4em;
    transition: 300ms;
}